.navbar-default {
  background-color: #fff;
  border: none;
  /*margin-top: 20px;*/
}

.red {
 color: red;
}


 #HVC>li{
  padding: 0 0 0 15px;

}

#list-two>li, #list-three>li {
  padding: 0 0 0 10px;
}

#list-two {
  margin-left: 21px;
  margin-top: 10px;
}

#list-three {
  margin-top: 10px

}

.nav>li>a {
  padding: 0;
}

